bcrypt==3.2.2
bitcoin==1.1.42
bitcoinaddress==0.1.5
bitcoinlib==0.6.15
bitcoinrpc==0.7.0
click==8.1.6
clickhouse-connect==0.7.17
cryptography==41.0.7
debugpy==1.8.2
executing==2.0.1
fastecdsa==2.3.2
fasteners==0.18
fastjsonschema==2.20.0
filelock==3.15.4
fqdn==1.5.1
fsspec==2024.6.1
httpcore==1.0.5
httplib2==0.20.4
httpx==0.27.0
json5==0.9.25
jsonpatch==1.32
jsonpointer==2.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
python-bitcoinrpc==1.0
python-dateutil==2.8.2
python-json-logger==2.0.7
python-requests-bitcoinrpc==0.4.0
requests==2.31.0
tqdm==4.66.4
urllib3==2.0.7
websocket-client==1.8.0
widgetsnbextension==4.0.11
xdg==5.0.0
zstandard==0.23.0
